extends ../_layouts/base

block config
    //- Correct base url pathing for this page
    - var baseUrl = '../'
    - var isAbout = true
    - var pageTitle = ' About'
    - var navIndex = 4

block content
    section.container.narrow
        h2 Find out what the heck this is all about

        p
            sup.new NEW!!{' '}
            |CBR Buses have been running for quite some time now. We would like to hear from our users how it has been going so we can improve it better for everyone. Click on the button below for the feedback form.  Don't worry, we wont ask who you are.

        a.btn-begin(href="https://goo.gl/forms/3N3YzYhpr9BnJGgA2", target="_blank") Feedback Form

        p We have included a new feature for the timetable.  You can now sort the cards in decending order by bus number (default) or by arrival.

        p We have tweaked the design just a bit to make the app look better.  Let us know your thoughts about the look and feel of the app.  Do let us know also if you faced any issues while usint it.  Would you like to suggest anything to improve the app?  Or if you want to say g'day, hit us up at:#{' '}

        p We a just a bunch of geeks playing with some new technology. This is no way connected to government or business. We are just having a play.

        a.btn-begin(href="mailto:cbrbusissues@gmail.com") cbrbusissues@gmail.com

        h2 How to use the app?
        p There area a few links in the menu but you may still wonder how to use all the features of the web app.  Below are simple instuctions on how they can be used.


        .accordion
            .accordion__header
                | Search
                button.accordion__btn.js-toggle-accordion
                    span.sr-only Toggle accordion
            .accordion__body
                p You can search for you bus stop by the number or simply entering the location.

                img(src="/assets/btt/images/search.jpg")


        .accordion
            .accordion__header
                | Bookmarks
                button.accordion__btn.js-toggle-accordion
                    span.sr-only Toggle accordion
            .accordion__body
                p You can bookmark your favourite bus stop.  First search for the bus stop in the search page.  Then you can tap on the star to save it on your bookmarks.  You can unbookmark it on the search page or on the bus stop page itself.

                .bookmarks
                    img(src="/assets/btt/images/bookmark1.jpg")
                    img(src="/assets/btt/images/bookmark2.jpg")


        .accordion
            .accordion__header
                | Nearby
                button.accordion__btn.js-toggle-accordion
                    span.sr-only Toggle accordion
            .accordion__body
                p Provided that you have given permission for your location, you can determine the nearby bus stops on your current location.  Just tap on the#{' '}
                    strong bus stop marker #{' '}
                    img.stopMarker(src="/assets/btt/images/stopMarker.svg")
                    |#{' '}on the map and it will take you to the bus stop page.


        .accordion
            .accordion__header
                | Bus Stop
                button.accordion__btn.js-toggle-accordion
                    span.sr-only Toggle accordion
            .accordion__body
                p You can view the listing of the bus services passing by the bus stop you have selected, searched or bookmarked.  The buses here are arranged in descending order.  Each “cards” will have the bus service number#{' '}
                    strong (1)
                    |, accessibility features#{' '}
                    strong (2)
                    |, current arriving bus time estimate#{' '}
                    strong (3)
                    |#{' '}and the next arriving bus time estimate#{' '}
                    strong (4)
                p The green button (5) is to refresh the bus times so you don’t have to refresh the page.
                img(src="/assets/btt/images/busStop.jpg")

                p Tapping on the card will display the current geolocation of the bus service you have selected (provided that the it can be tracked).  It will be represented by a #{' '}
                    strong red pin #{' '}
                    img.redPin(src="https://maps.google.com/mapfiles/kml/paddle/red-blank_maps.png")
                    |#{' '}on the map.

                img(src="/assets/btt/images/busLocation.jpg")


        .accordion
            .accordion__header
                | Track My Bus
                sup BETA
                button.accordion__btn.js-toggle-accordion
                    span.sr-only Toggle accordion
            .accordion__body
                p Unfortunately, this is an#{' '}
                    strong Android exclusive
                    |#{' '}feature.  This feature can be used in 2 ways:

                ol
                    li If you know where your stop is, you can tap on the#{' '}
                        strong marker #{' '}
                        img.busMarker(src="/assets/btt/images/busMarker.svg")
                        |#{' '}on the map.  You will receive a notification 1 stop before the one you have selected (if it is provided) so you can prepare yourself in alighting from the bus.
                    li You can tap the marker of the current bus stop that you are on (it is#{' '}
                        strong blue pin#{' '}
                        img.bluePin(src="https://maps.google.com/mapfiles/kml/paddle/blu-blank_maps.png")
                        |#{' '}that it is pointing at) to receive a notification if the bus is 1 stop away (if it is provided).

                p Do take note that all information about the bus arrival is depending on the data we are grabbing from the API.  Sometimes you will be notified when the bus is on the stop itself.  Don't worry, we are working on it.

        a.btn-begin(href="/") Start using the app